<div class="lr-form-label mb-2">${input.label}</div>
<div class="claim-treatment-form-field">

	<div class="phcr-radio-group">
		<input type="radio" id="treatment-1" name="${input.name}" value="Yes - emergency" checked />
		<label class="phcr-radio mr-4" for="treatment-1">Yes - emergency</label>

		<input type="radio" id="treatment-2" name="${input.name}" value="Yes - clinic visit" />
		<label class="phcr-radio mr-4" for="treatment-2">Yes - clinic visit</label>

		<input type="radio" id="treatment-3" name="${input.name}" value="Not yet" />
		<label class="phcr-radio mr-4" for="treatment-3">Not yet</label>
	</div>

</div>
