<section class="pf-sales-banner">
  <div class="pf-sales-banner__inner">
    <div class="pf-sales-banner__content">
      <h2 class="pf-sales-banner__title" data-lfr-editable-id="title" data-lfr-editable-type="text">
        Ready to elevate your lifestyle?
      </h2>
      <p class="pf-sales-banner__text">
        <span data-lfr-editable-id="text-prefix" data-lfr-editable-type="text">Apply today and get </span>
        <span class="pf-sales-banner__highlight" data-lfr-editable-id="highlight-1" data-lfr-editable-type="text">50,000 bonus points</span>
        <span data-lfr-editable-id="text-mid" data-lfr-editable-type="text"> plus a </span>
        <span class="pf-sales-banner__highlight" data-lfr-editable-id="highlight-2" data-lfr-editable-type="text">$0 annual fee</span>
        <span data-lfr-editable-id="text-suffix" data-lfr-editable-type="text"> for the first year. Limited time offer!</span>
      </p>
    </div>
    <div class="pf-sales-banner__action">
      <a class="pf-sales-banner__btn" data-lfr-editable-id="btn" data-lfr-editable-type="link">
        Apply Now &rarr;
      </a>
    </div>
  </div>
</section>
