<div class="wc-premium-chart" id="${fragmentEntryLinkNamespace}-premium-chart">
	<div class="wc-card__header">
		<span class="wc-card__title">Premium by industry</span>
	</div>
	<div class="wc-card__body">
		<div class="wc-bar-chart" id="${fragmentEntryLinkNamespace}-bar-chart">
			<div class="wc-bar__row">
				<div class="wc-bar__label">Healthcare</div>
				<div class="wc-bar__track"><div class="wc-bar__fill" style="width:82%;background:#0071e3"></div></div>
				<div class="wc-bar__value">$756K</div>
			</div>
			<div class="wc-bar__row">
				<div class="wc-bar__label">Construction</div>
				<div class="wc-bar__track"><div class="wc-bar__fill" style="width:54%;background:#6d4fc9"></div></div>
				<div class="wc-bar__value">$498K</div>
			</div>
			<div class="wc-bar__row">
				<div class="wc-bar__label">Logistics</div>
				<div class="wc-bar__track"><div class="wc-bar__fill" style="width:40%;background:#b45309"></div></div>
				<div class="wc-bar__value">$372K</div>
			</div>
			<div class="wc-bar__row">
				<div class="wc-bar__label">Retail</div>
				<div class="wc-bar__track"><div class="wc-bar__fill" style="width:22%;background:#00875a"></div></div>
				<div class="wc-bar__value">$201K</div>
			</div>
			<div class="wc-bar__row">
				<div class="wc-bar__label">Other</div>
				<div class="wc-bar__track"><div class="wc-bar__fill" style="width:12%;background:#8892a8"></div></div>
				<div class="wc-bar__value">$118K</div>
			</div>
		</div>
	</div>
</div>