<div class="wc-topbar" id="${fragmentEntryLinkNamespace}-topbar">
	<div class="wc-topbar__logo">
		<div class="wc-topbar__logo-sq">
			<img src="https://webserver-lctscifdemo02-prd.lfr.cloud/documents/d/global/square-logo" height="32px" width="32px" />
			<svg class="d-none" viewBox="0 0 14 14" fill="none" width="14" height="14">
				<path d="M2 7h10M7 2l5 5-5 5" stroke="#fff" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</div>
		<span class="wc-topbar__logo-name">State Fund</span>
		<div class="wc-topbar__logo-div"></div>
		<span class="wc-topbar__logo-state">CA Workers Comp</span>
	</div>

	<div class="wc-topbar__sep"></div>

	<div class="wc-topbar__pill">
		<div class="wc-topbar__pill-dot"></div>
		<span>Live</span>
	</div>

	<span class="wc-topbar__date" id="${fragmentEntryLinkNamespace}-topbar-date"></span>

	<div class="wc-topbar__avatar" id="${fragmentEntryLinkNamespace}-topbar-avatar">--</div>
</div>