<div class="bp-topbar" id="${fragmentEntryLinkNamespace}-topbar">
  <div class="bp-topbar__logo">
    <div class="bp-topbar__logo-dot"></div>
    <span class="bp-topbar__logo-text">CA Workers' Comp Fund Portal</span>
    <div class="bp-topbar__live-pill">
      <div class="bp-topbar__live-dot"></div>
      Live data
    </div>
  </div>
  <nav class="bp-topbar__nav">
    <a class="bp-topbar__nav-link bp-topbar__nav-link--active" href="#">Command center</a>
    <a class="bp-topbar__nav-link" href="#">Book of business</a>
    <a class="bp-topbar__nav-link" href="#">Reports</a>
    <a class="bp-topbar__nav-link" href="#">Documents</a>
    <div class="bp-topbar__avatar" id="${fragmentEntryLinkNamespace}-avatar">SL</div>
  </nav>
</div>