<div class="wc-policy-table" id="${fragmentEntryLinkNamespace}-policy-table">
	<div class="wc-card__header">
		<span class="wc-card__title">Recent policy activity</span>
		<a href="/policies" class="wc-card__action">View all &rarr;</a>
	</div>
	<div class="wc-card__body">
		<table class="wc-table" id="${fragmentEntryLinkNamespace}-table">
			<colgroup>
				<col style="width:30%">
				<col style="width:16%">
				<col style="width:10%">
				<col style="width:16%">
				<col style="width:13%">
				<col style="width:15%">
			</colgroup>
			<thead>
				<tr>
					<th>Employer</th>
					<th>Policy #</th>
					<th>Code</th>
					<th>Expiration</th>
					<th>Premium</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody id="${fragmentEntryLinkNamespace}-tbody">
				<tr class="wc-table__loading-row">
					<td colspan="6" style="text-align:center;color:#8892a8;padding:24px 0;font-size:12px;">Loading policies&hellip;</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>