<div class="al-stats" id="${fragmentEntryLinkNamespace}-stats">
  <div class="al-stats__card">
    <div class="al-stats__label" data-lfr-editable-id="label-1" data-lfr-editable-type="text">Active Loan Apps</div>
    <div class="al-stats__val al-stats__val--blue" id="${fragmentEntryLinkNamespace}-stat-active" data-lfr-editable-id="val-1" data-lfr-editable-type="text">...</div>
    <div class="al-stats__sub" data-lfr-editable-id="sub-1" data-lfr-editable-type="text">across all jurisdictions</div>
  </div>
  <div class="al-stats__card">
    <div class="al-stats__label" data-lfr-editable-id="label-2" data-lfr-editable-type="text">Total Loan Volume</div>
    <div class="al-stats__val al-stats__val--green" id="${fragmentEntryLinkNamespace}-stat-volume" data-lfr-editable-id="val-2" data-lfr-editable-type="text">...</div>
    <div class="al-stats__sub" data-lfr-editable-id="sub-2" data-lfr-editable-type="text">currently in pipeline</div>
  </div>
  <div class="al-stats__card">
    <div class="al-stats__label" data-lfr-editable-id="label-3" data-lfr-editable-type="text">Pending Underwriting</div>
    <div class="al-stats__val al-stats__val--amber" id="${fragmentEntryLinkNamespace}-stat-pending" data-lfr-editable-id="val-3" data-lfr-editable-type="text">...</div>
    <div class="al-stats__sub" data-lfr-editable-id="sub-3" data-lfr-editable-type="text">requires advisor review</div>
  </div>
  <div class="al-stats__card">
    <div class="al-stats__label" data-lfr-editable-id="label-4" data-lfr-editable-type="text">High Priority Tasks</div>
    <div class="al-stats__val al-stats__val--red" id="${fragmentEntryLinkNamespace}-stat-priority" data-lfr-editable-id="val-4" data-lfr-editable-type="text">...</div>
    <div class="al-stats__sub" data-lfr-editable-id="sub-4" data-lfr-editable-type="text">closing in 48 hours</div>
  </div>
</div>
