<section class="ph-sales-banner ph-sales-banner--${configuration.bgTheme}">
    <div class="ph-sales-banner__inner">
        <div class="ph-sales-banner__content">
            <h2 class="ph-sales-banner__title" data-lfr-editable-id="title" data-lfr-editable-type="text">
                Ready to take the next step?
            </h2>
            <p class="ph-sales-banner__text" data-lfr-editable-id="description" data-lfr-editable-type="rich-text">
                Apply today and get <span class="ph-sales-banner__highlight">competitive rates</span> and <span class="ph-sales-banner__highlight">$0 initial fees</span> for the first 6 months. Limited time offer!
            </p>
        </div>
        <div class="ph-sales-banner__action">
            <a class="ph-sales-banner__btn" data-lfr-editable-id="btn" data-lfr-editable-type="link">
                Get Started Now &rarr;
            </a>
        </div>
    </div>
</section>
